.white-box {
  background-color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px
}

.blue-background {
  background-color: rgba(62, 62, 218, 0.123);
}

.big-white-box {
  background-color: white;
  width: 80%;
  padding: 48px;
  margin-left: 10%;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px
}

.blue-box {
  background-color: #1f547a;
  color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px
}

#small-video {
  height: 72px;
  margin-left: 44%;
}

.list-rando {
  color: black;
}

.list-rando a {
  text-decoration: none;
  color: black;
}
