.white-box {
  background-color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.blue-box {
  background-color: #1f547a;
  color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
}
