.white-box {
  background-color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.blue-box {
  background-color: #1f547a;
  color: white;
  width: 60%;
  padding: 48px;
  margin-left: 20%;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px
}

#small-video {
  height: 72px;
  margin-left: 44%;
}

.list-rando {
  color: black;
}

.list-rando a {
  text-decoration: none;
  color: black;
}
