// Specific CSS for your home-page

// body {
//   font-family: 'Fasthand', cursive;
// }

.white-background {
  background-color: white;
  // margin-bottom: 20px;
  position: sticky;
  top: 0;
}
.centered-element {
  text-align: center;
  img {
    height: 140px;
  }
}

.menu-navbar {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      border-bottom: solid 4px rgb(204, 33, 33);
    }
  }
}

.red-border {
  border-bottom: solid 4px rgb(204, 33, 33);
}

.home-body {
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
