.form {
  width: 54%;
  margin-left: 26%;
  margin-bottom: 50px;
}

.new-flex {
  display: flex;
  justify-content: space-between;
}

.test-48 {
  width: 48%;
}

input[type=submit] {
  color: white;
  background-color: rgb(204, 33, 33);
  padding: 10px 22px;
  border-radius: 4px;
  width: 198px;
}
