.form {
  width: 60%;
  margin-left: 20%;
}

.new-flex {
  display: flex;
  justify-content: space-between;
}

input[type=submit] {
  color: white;
  background-color: rgb(134, 25, 134);
  padding: 10px 22px;
  border-radius: 4px;
  width: 198px;
}
