.grid-phot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 2%;
  img {
    border-radius: 8px;
    height: 400px;
    width: 400px;
  }
}

.text-justify {
  text-align: justify;
}
