.quipage {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.small-logo img {
  height: 140px;
}

.centered-item-50 {
  padding-top: 50px;
  margin-left: 30px;
  p {
    font-size: 20px;
  }
}

.section-1 {
	background-color: white;
  position: sticky;
  top: 0;
  padding-bottom: 12px;
	width: 100%;
}

.no-background {
  height: 48px;
}

.no-background img {
  height: 54px;
  margin-top: 3px;
}

.centered-nev-item {
  margin-top: 24px;
  padding: 26px;
}

.killmar {
  margin-top: 0px;
  padding: 12px;
}

.centered-item-40 {
  padding-top: 40px;
  margin-right: 30px;
}

.presentation {
  display: flex;
  gap: 20px;
  img {
    height: 76vh;
  }
  margin-left: 10%;
  margin-right: 10%;
}

.quibanner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  // image fond alternatif https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
}
