<div class="footer">
  <div class="contact-info">
    <h4><strong>Contact</strong></h4>
    <p>simon.cailleau@gmail.com</p>
    <p>0632652512</p>
  </div>

  <div>
    <h5><strong>Tentez l'aventure !</strong></h5>
  </div>

  <div class="links-socials">
    <ul>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </ul>
    <ul>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </ul>
  </div>
</div>
