<div class="footer">
  <div class="contact-info">
    <h3><strong>Contact</strong></h3>
    <h4>simon.cailleau@gmail.com</h4>
    <h4>0632652512</h4>
  </div>

  <div>
    <h4><strong>Tentez l'aventure !</strong></h4>
    <h5>En rando ou en bivouac</h5>
    <%= image_tag "tente.png", style: "margin-left: 40px; height: 80px" %>
  </div>

  <div class="links-socials">
    <ul>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </ul>
    <ul>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </ul>
  </div>
</div>
