<div class="footer">
  <div class="contact-info">
    <p><strong>Contact</strong></p>
    <p>simon.cailleau@gmail.com</p>
    <p>0632652512</p>
  </div>

  <div>
    <p><strong>Tentez l'aventure !</strong></p>
  </div>

  <div class="links-socials">
    <ul>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </ul>
    <ul>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </ul>
  </div>
</div>
