<div class="container-rando">
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam ipsum at fringilla ultrices.
  Phasellus feugiat erat quis lacus tempus, ac dictum sapien ornare. Suspendisse vel ullamcorper nibh. Aliquam id egestas velit. Suspendisse potenti.
  Vivamus dictum est et quam condimentum tristique. Fusce id odio sit amet felis tincidunt gravida. Nunc sagittis eu velit sed commodo.
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div>

<div>
  <div class="grid-photos">
    <div class="photo-card">
      <div class="text-card">
        <h5>Les Alpilles</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/14142377/pexels-photo-14142377.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Dentelles de Montmirail</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/2308893/pexels-photo-2308893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Le Luberon</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/2975746/pexels-photo-2975746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Initiation au bivouac</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/8065131/pexels-photo-8065131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>
  </div>
</div>
