<div class="container">
  <div class="text-justify">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam ipsum at fringilla ultrices. Phasellus feugiat erat quis lacus tempus, ac dictum sapien ornare. Suspendisse vel ullamcorper nibh. Aliquam id egestas velit. Suspendisse potenti. Vivamus dictum est et quam condimentum tristique. Fusce id odio sit amet felis tincidunt gravida. Nunc sagittis eu velit sed commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Donec ut elit aliquam, placerat neque vel, posuere libero. Curabitur tincidunt vestibulum dui, non tempus nulla lacinia consectetur. Proin tempus elit non mi feugiat congue. In placerat gravida faucibus. Suspendisse potenti. Morbi fermentum dui augue, non auctor nunc volutpat at. Integer ac nisi condimentum ex fringilla venenatis vitae sed mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ac nulla dapibus, semper ex ut,
    accumsan ex. Mauris mauris lectus, iaculis eu urna sed, porta iaculis diam. Suspendisse sed ultrices enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas nulla risus, maximus a nibh id, pellentesque porttitor augue. Phasellus hendrerit porttitor turpis, vitae sodales tellus malesuada sit amet. Cras facilisis, magna ut lobortis tempor, metus ligula efficitur justo, in sollicitudin neque dolor a erat. </p>
  </div>
</div>
